body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title,
.title {
  text-align: center;
}

.input-wrapper,
.output-wrapper,
.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper > * {
  margin: 10px;
}

.input-wrapper {
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}

.output-wrapper {
  flex-direction: column;
}

.error-wrapper {
  color: red;
}
